:root {
  --accent: #e74c3c;
  --container-width: 800px;
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #333333;
  --light-gray: #999999;
  --gray: #777777;
}

/* body {
    background: #f2f2f2; 
    font-family: 'proxima-nova-soft', sans-serif;
    font-size: 14px;
  } */

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: var(--white);
  min-width: 270px;
  height: 470px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.post-module:hover {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}

/* Thumbnail */
.thumbnail {
  background: var(--black);
  height: 400px;
  overflow: hidden;
}
.thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: var(--accent);
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  border-radius: 100%;
  color: var(--white);
  font-weight: 700;
  text-align: center;
}
.thumbnail .date .day {
  font-size: 18px;
}
.thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.thumbnail img {
  display: block;
  width: 120%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Post Content */
.post-content {
  position: absolute;
  bottom: 0;
  background: var(--white);
  width: 100%;
  padding: 30px;
  transition: transform cubic-bezier(0.37, 0.75, 0.61, 1.05) 0.3s;
}
.post-module:hover .thumbnail img {
  transform: scale(1.1);
  opacity: 0.6;
}
.post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: var(--accent);
  padding: 10px 15px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: var(--dark-gray);
  font-size: 26px;
  font-weight: 700;
}
.post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: var(--accent);
  font-size: 20px;
  font-weight: 400;
}
.post-content .description {
  display: none;
  color: var(--gray);
  font-size: 14px;
  line-height: 1.8em;
}
.post-content .post-meta {
  margin: 30px 0 0;
  color: var(--light-gray);
}
.post-content .post-meta .timestamp {
  margin-right: 16px;
}
.post-content .post-meta a {
  color: var(--light-gray);
  text-decoration: none;
}

/* Hover */
.post-module:hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

/* Container */
.container {
  max-width: var(--container-width);
  min-width: 640px;
  margin: 0 auto;
}
.container::before,
.container::after {
  content: "";
  display: block;
  clear: both;
}
.container .column {
  width: 50%;
  padding: 0 25px;
  /* Styles for columns */
}
.container .demo-title {
  margin: 0 0 15px;
  color: var(--gray);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-gray);
}
.container .info span {
  color: var(--gray);
  font-size: 12px;
}
.container .info span a {
  color: var(--black);
  text-decoration: none;
}
.container .info span .fa {
  color: var(--accent);
}
