@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar.widget {
  background: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px 20px;
}
.sidebar.widget ul {
  margin: 0px;
  padding: 0;
  overflow: hidden;
}
.sidebar.widget ul li {
  overflow: hidden;
  /* font-size: 14px; */
  margin-bottom: 20px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.sidebar-thumb {
  float: left;
  overflow: hidden;
  margin-right: 15px;
}
.sidebar-thumb img {
  background: #fff;
  border: 1px dashed #e0e0e0;
  padding: 6px;
  height: 80px;
  width: 70px;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.sidebar-content h5 {
  font-size: 16px;
  cursor: pointer;
  line-height: 24px;
}

.sidebar-content h5 a {
  color: #202020;
  outline: 0 none;
  text-decoration: none;
  font-weight: bold;
}
.sidebar-meta {
  margin-top: 10px;
}
.sidebar-meta span {
  color: #2e2e2e;
}
.sidebar-meta span.time {
  margin-right: 10px;
}
.sidebar-meta span i {
  color: #2996bd;
}

.row {
  padding: 50px 0;
}
.seperator {
  margin-bottom: 30px;
  width: 35px;
  height: 3px;
  background: #777;
  border: none;
}

.row {
  padding: 50px 0 0;
}

.seperator {
  margin: 0 auto 10px;
}

.item {
  position: relative;
  margin-bottom: 30px;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .item-in {
    background: #fff;
    padding: 40px;
    position: relative;

    &:hover:before {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 0%;
      background: #333333;
      right: 0px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
    }
  }
}
.item {
  h4 {
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    font-size: 12px;
  }
  a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;

    i {
      opacity: 0;
      padding-left: 0px;
      transition: 0.4s;
      font-size: 24px;
      display: inline-block;
      top: 5px;
      position: relative;
    }

    &:hover {
      text-decoration: none;
      i {
        padding-left: 10px;
        opacity: 1;
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .item .icon {
    position: relative;
    top: 0;
    left: 0;
  }
}

.carousel {
  overflow: hidden;
  white-space: nowrap;
}

.event-block {
  display: inline-block;
  width: 100%; /* Adjust this width according to your design */
}

.hidden-slide {
  display: none;
}

.active-slide {
  display: inline-block;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.payment_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

  margin-top: 120px;
  margin-bottom: 80px;

  position: relative;
  width: 48vw;
  height: auto;

  border-radius: 16px;
  background-color: white;

  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #1b1b1b;
  border-radius: 8px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#exit {
  align-self: flex-end;
}

/* h1 {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 800;
  }
  
  label {
    font-weight: 600;
  } */

input1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 16px 24px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #ffffff;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s;
}

textarea:focus,
input:focus {
  outline: none;
  background: #f7f1ee;
  border: 3px solid;
  border-radius: 16px;
}

.exp-cvc {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.expiration {
  font-size: 0.75rem;
  width: 50%;
  margin-right: 20px;
}

.security {
  font-size: 0.75rem;
  width: 50%;
  margin-left: 20px;
}

#exit {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
